@model RestaurantReviews.Models.RestaurantReview

@*<td>
    @Html.DisplayFor(modelItem => Model.Name)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.Country)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.City)
</td>*@
<td>
    <b>@Html.DisplayFor(modelItem => Model.Rating)</b>
</td>