@model IEnumerable<RestaurantReviews.Models.ViewModels.RestaurantListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Restaurants</h2>

@*<form method="get" class="form-inline" style="margin: 10px 0; ">
    <input type="search" name="searchByName" placeholder="Restaurant Name" class="form-control" />
    <button class="btn btn-primary" type="submit">Search</button>
</form>*@

@using (Ajax.BeginForm("Index", new { } , new AjaxOptions()
        {
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "restaurants-list",
            LoadingElementId = "loading",
            LoadingElementDuration = 1000,
            
        }, new { @class = "form-inline" , style = "margin: 10px 0; " }))
{
    <input type="search" name="searchByName" placeholder="Restaurant Name" class="form-control" />
    <button class="btn btn-primary" type="submit">Search</button>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p style="color: brown; display: none" id="loading">
    Loading.......
</p>

<div id="restaurants-list">
    @Html.Partial("_Restaurants", Model)
</div>

<p style="color: red;">Current Local Time: @ViewBag.CurrentTime</p>